body {
    background-color: #eee;
    margin: 0%;
}

.inner {
    margin: 0px auto;

}


.header {
    background-color: #76E4EB;
    width: 987px;
    height: 48px;
}


.herobanner {
    background-color: #315FA4;
    height: 420px;
    width: 987px;
}


.column{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 17px;
    background-color: #CA1DCD;
    width: 315px;
    height: 220px;
    display: inline-block;

}


.footer{
    background-color:#C01887;
    width: 987px;
    height: 172px;
}

