@font-face {
  font-family: "ubuntu-regular";
  src: url(/font/Ubuntu/Ubuntu-Regular.ttf) format(ttf);
}

body {
  background-color: #eee;
  margin: 0%;
  padding: 0%;
}

h1 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  color: white;
  font-size: 36px;
  margin: 0%;
}

h2 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  font-size: 24px;
  margin: 0%;
}

h3 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: white;
  font-size: 32px;
  margin: 0%;
}

h4 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
  color: white;
  font-size: 32px;
  margin: 0%;
}

h5 {
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 12px;
    color: #D9D9D9;
}

.inner {
  margin: 0% auto;
  max-width: 987px;
}

.logo {
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 20px;
}

.nav {
  list-style-type: none;
  float: right;
  display: flex;
}

.container {
  margin-right: 20px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
}

.header {
  background-color: white;
  border: 2px solid #ffd520;
  height: 48px;
}

.herobanner {
  background-image: url("/version1/images/jellyfish1.png");
  height: 420px;
}

.relative-position {
  position: relative;
  top: 300px;
  left: 40px;
}

.flex-container {
  display: flex;
  justify-content: center;
  padding: 0px;
  margin: 20px;
  list-style: none;
}

.text {
  color: white;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  padding-top: 70px;
}

.text3 {
  color: white;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  padding-top: 40px;
}

.flex-item {
  background-image: url(/version1/images/dog.png);
  width: 315px;
  height: 220px;
}

.flex-item2 {
  background-image: url(/version1/images/lizzard.png);
  width: 315px;
  height: 220px;
  margin-left: 20px;
  margin-right: 20px;
}

.flex-item3 {
  background-image: url(/version1/images/butterfly.png);
  width: 315px;
  height: 220px;
}

/*
.footercontent {
  display: flex;
  top: 728px;
  margin-top: 20px;
  background: #111111;
  width: 100%;
  height: 172px;
}
*/

.footer {
    height: 172px;
    background-color: #111111 ;
}

.nav2 {
  display: flex;
  width: 315px;
  border: 1px solid hotpink;
  color: #D9D9D9;
  font-family: "Open Sans";
  font-size: 12px;
}

.navtext {
    color: #D9D9D9;
    font-family: "Open Sans";
    font-size: 12px;
    list-style-type: none;
    line-height: 16px;
    padding:0px;
    margin: 0;
}

.contactbox {
  width: 315px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  border: 1px solid green;
}

.contact {
    color: #D9D9D9;
    font-family: "Open Sans";
    font-size: 12px;
    list-style-type: none;
    line-height: 16px;
    padding-left: 0%;
}

.legal {
  display: flex;
  display: inline-block;
  width: 315px;
  border: 1px solid yellow;
  font-family: "Open Sans";
  font-size: 12px;
  color: #D9D9D9;
}


@media screen and (max-width: 767px) {
  /* I am TABLET and DESKTOP*/
  .column {
    width: 100%;
  }
  .column2 {
    width: 100%;
    margin-left: 0%;
    margin-top: 20px;
  }
}

